.layout {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

}
.layout-children {
  background-color: #FFFFFF;
  /* This min-height made my white background longer so the footer would stay at the bottom */
  min-height: 85vh;
}

@media only screen and (max-width: 600px) {
  .layout-children {
    height: 100%;
  }
}
