.layout {
  width: 80%;
  /* height: 100%; */
  margin: 0 auto;
}
.layout-children {
  background-color: #FFFFFF;
  height: 100%;
  margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
  .layout-children {
    height: 100%;
  }
}
