@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;600&display=swap');
.App {
  text-align: center;
  font-family: sans-serif;
}
body {
  background: #EEEEEE;
}
a {
  text-decoration: none;
  font-family: 'Mukta', sans-serif;

}
p {
  margin-bottom: 0;
  font-family: 'Mukta', sans-serif;

}
input {
  font-family: 'Mukta', sans-serif;
  font-size: 15px;
}
textarea {
  font-family: 'Mukta', sans-serif;
  min-width: 100%;
  font-size: 15px;
}
h2 {
  font-family: 'Mukta', sans-serif;
}
h3 {
  margin-top: 0;
  padding: 20px;
  font-family: 'Mukta', sans-serif;
}
button {
  background-color: #FFFFFF;
  border: 2px solid #FA320A;
  border-radius: 5%;
  transition-duration: 0.4s;
  font-family: 'Mukta', sans-serif;
}
button:hover {
  background-color: #FA320A;
  color: #FFFFFF;
  cursor: pointer;
}
.user-form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #707070;
  width: 50%;
  height: 80%;
  background-color: #f3f3f3;
}
.user-form a {
  margin: 0 auto;
}
.user-form button {
  width: fit-content;
  margin: 10px auto;
}
.user-form .link {
  padding: 20px;
}
.user-form .inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 75%;
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.user-form input {
  width: 100%;
  height: 40px;
  background-color: white;
}
.login {
  margin-top: 20px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .user-form {
    width: 90%;
  }
}
