@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;600&display=swap');
.App {
  text-align: center;
  font-family: sans-serif;
}
body {
  background: #EEEEEE;
}
a {
  text-decoration: none;
  font-family: 'Mukta', sans-serif;

}
p {
  margin-bottom: 0;
  font-family: 'Mukta', sans-serif;

}
input {
  font-family: 'Mukta', sans-serif;
  font-size: 15px;
}
textarea {
  font-family: 'Mukta', sans-serif;
  min-width: 100%;
  font-size: 15px;
}
h2 {
  font-family: 'Mukta', sans-serif;
}
h3 {
  margin-top: 0;
  padding: 20px;
  font-family: 'Mukta', sans-serif;
}
button {
  background-color: #FFFFFF;
  border: 2px solid #FA320A;
  border-radius: 5%;
  transition-duration: 0.4s;
  font-family: 'Mukta', sans-serif;
}
button:hover {
  background-color: #FA320A;
  color: #FFFFFF;
  cursor: pointer;
}